<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

<%- include('nav.html') %>

<h4 class="ml-2 mt-4"><strong>할일 리스트</strong></h4>

<div class="container input-group mb-2">
  <input class="form-control" id="search-input">
  <button class="input-group-append btn btn-danger" id="search">검색</button>
</div>

<!-- <div><%= posts[0].title %></div> -->
<!-- <div><%= posts[0].date %></div> -->

<ul class="list-group">
    <% for(var i = 0; i < posts.length; i++) { %>
        <li class="list-group-item">
            <input type="hidden" id="post-id" value="<%= posts[i]._id %>">
            <input type="hidden" id="post-user" value="<%= posts[i].user %>">
            <input type="hidden" id="user" value="<%= user ? user.id : 0 %>">

            <div style="font-size:15px; color:#777;">글번호 : <%= posts[i]._id %></div>
            <h5><a href="detail/<%= posts[i]._id %>"><%= posts[i].title %></a></h5>
            <p><%= posts[i].date %></p>
            <% if((user ? user.id : '') == (posts[i].user ? posts[i].user : '')) { %>
                <button type="button" class="btn btn-light delete" data-id="<%= posts[i]._id %>">삭제</button>
            <% }else if(user && (user.id != (posts[i].user ? posts[i].user : ''))) { %>
                <button type="button" class="btn btn-warning chat">채팅하기</button>
            <% } %>
        </li>
    <% } %>
</ul>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
    $('#search').click(function() {
        var value = $('#search-input').val();
        window.location.replace('/search?value=' + value);
    })

    $('.chat').off("click").on("click", function(){
        var _this = $(this);
        const today = new Date();
        var date = today.toISOString().substring(0, 10);
        var id = _this.parent('li').find('#post-id').val();
        var postUser = _this.parent('li').find('#post-user').val();
        var user = $('#user').val();
//         window.location.replace('/chat?id=' + id + '&postUser=' + postUser + '&user=' +  user + '&date=' +  date);
        $.ajax({
            method : 'POST',
            url : '/chat',
            data : {
                id : id,
                date : date,
                postUser : postUser,
                user : user,
            },
        }).done(function(result) {
//             window.location.href = "localhost:8080/chat";
        }).fail(function(xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
        });
    })
</script>

<script>
    $('.delete').click(function(e) {
        var id = e.target.dataset.id;
        var _this = $(this);
        $.ajax({
            method : 'DELETE',
            url : '/board/delete',
            data : {_id : id}
        }).done(function(result) {
            _this.parent('li').fadeOut();
        }).fail(function(xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
        });
    })

//     fetch(`/delete/${_id}`, {
//         method: "DELETE",
//     })
//     .then(response => response.json())
//     .then(data => userResInfo(data))
</script>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>